<div class="container">
<h1 class="jumbotron-heading">Album example</h1>
<div class="container">
<div class="row">
<div class="col">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit posuere lectus, eu finibus turpis vestibulum in. Fusce erat neque, blandit ut lobortis eu, sodales eu dolor. Pellentesque vestibulum pellentesque rhoncus. Sed quis pulvinar sapien. Nunc quis eleifend lorem. Pellentesque pulvinar finibus libero vel vehicula. Praesent interdum est at neque ullamcorper, vel pellentesque est accumsan. Duis id felis quis erat imperdiet placerat nec nec justo. Nam in massa elementum velit scelerisque elementum. Nam vitae tellus tristique, tempor libero sit amet, laoreet nibh. Suspendisse dignissim sodales odio, non molestie ipsum tempus nec. Nullam sed varius orci. Curabitur a ullamcorper nibh. Phasellus luctus vulputate neque, et porta arcu ullamcorper vitae. Nullam elementum a tortor non ullamcorper.</p>
</div>
<div class="col">
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit posuere lectus, eu finibus turpis vestibulum in. Fusce erat neque, blandit ut lobortis eu, sodales eu dolor. Pellentesque vestibulum pellentesque rhoncus. Sed quis pulvinar sapien. Nunc quis eleifend lorem. Pellentesque pulvinar finibus libero vel vehicula. Praesent interdum est at neque ullamcorper, vel pellentesque est accumsan. Duis id felis quis erat imperdiet placerat nec nec justo. Nam in massa elementum velit scelerisque elementum. Nam vitae tellus tristique, tempor libero sit amet, laoreet nibh. Suspendisse dignissim sodales odio, non molestie ipsum tempus nec. Nullam sed varius orci. Curabitur a ullamcorper nibh. Phasellus luctus vulputate neque, et porta arcu ullamcorper vitae. Nullam elementum a tortor non ullamcorper.</p>
</div>
</div>
</div>

